body {
    background-image: url("https://i.pinimg.com/originals/8a/58/69/8a58697ebefd6313513169fdd4d88984.gif");
}

.container, #header {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#author {
    font-weight: bold;
    color: rgb(12, 13, 81);
    font-size: 16px;
}

#mensaje {
    font-weight: bold;
    color: rgb(78, 12, 61);
    font-size: 16px;
}

#Mensajes {
    color: black;
    font-size: 16px;
}